body {
    background-color:lightseagreen;
 
}
.viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
h1 {
    color: #000000;
}

.border{
    border: solid #000000;
}
.mygames1{
  margin: 30px;
  padding: 20px;

}
a{
    font-size: 20px;
    text-decoration: none;
}
.names3{
    color: red;
}

.myvideos{
    display:flex;
    justify-content: space-around;
    align-self: center; 
   
}

.viewmore{
    display:flex;
    justify-content: space-around;
    align-self: center;
}
.maze2{
    border: solid #000000;
    background-color: #000000;
}
.info{
    border: solid #000000;
}
.shoot{
    border: solid #000000;  
    background-color: #000000;
}
.header {
   background-color: yellowgreen;
   display:flex;
   justify-content: space-around;
   align-self: center;
   border: solid #000000;
}
.pong{
    border: solid #000000;
    background-color: #000000;
    position: relative;

}
.pong p{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;

}
.pong:hover p{
    opacity:1;
}

.end{
    display:flex;
    justify-content: space-around;
    align-self: center;
}
.copyright{
    display:flex;
    justify-content: space-around;
    align-self: center;
}
.names{
    display:flex;
    justify-content: space-around;
    align-self: center;
    }
    .names1{
        display:flex;
        justify-content: space-around;
        align-self: center;
        }
    
.mygames1{
    border: solid #000000;
    background-color: lightskyblue;
}
.my_games{
    display:flex;
   justify-content: space-around;
   align-self: center;
}
.my_game{
    display:flex;
   justify-content: space-around;
   align-self: center;
}


.footer{
    display: flex;
    justify-content: center;
}
p,h2{
    text-align: center;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}

